<ion-view title="Camera" id="page4">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" src="{{momentPicture}}" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="camera-form1" class="list">
      <div class="spacer" style="width: 300px; height: 9px;"></div>
      <label class="item item-input" id="camera-input1">
        <span class="input-label">Text Overlay</span>
        <input type="text" placeholder="">
      </label>
      <div id="camera-button-bar1" class="button-bar">
        <button id="camera-button13" ng-click="camera()" class="button button-positive  button-block">Submit</button>
        <button id="camera-button15" ng-click="back()" class="button button-positive  button-block button-outline">Cancel</button>
      </div>
    </form>
  </ion-content>
</ion-view>