<ion-view title="Moments" id="page2">
<ion-content padding="true" class="has-header">
<img src="{{picture}}" height="300px" width="100%"> </img>
<div class="row">
  <div ng-show="moment.description.length > maxChars" style= "color: red">{{moment.description}}</div>
  <div ng-show="moment.description.length <= maxChars">{{moment.description}}</div>
</div>
<div class="row" ng-if="moment.description">
  <div ng-show="moment.description.length > maxChars" style= "color: red">{{moment.description.length}} / {{maxChars}}</div>
  <div ng-show="moment.description.length <= maxChars" style= "color: green">{{moment.description.length}} / {{maxChars}}</div>
</div>
<div class="row">
    <div class="col">
      <label class="item item-input">
        <input type="text" data-ng-model="moment.description" placeholder="Add a Description!">
      </label>
    </div>
    <button style="margin-right: 5px" class="col col-10 button button-positive">OK</button>
</div>
<div class="row">
  <div class="col"><ion-checkbox data-ng-change="changeLocation()" data-ng-model="location">Show Location</ion-checkbox></div>
</div>
<div class="row">
  <div class="button-bar">
    <button class="button button-assertive" data-ng-click="cancel()">Cancel</button>
    <button class="button button-positive" data-ng-click="submit()">Submit</button>
  </div>
</div>
</ion-content>
</ion-view>