<ion-view id="page3" cache-view="false">
	<ion-nav-title>
		<img class="title-image" src="img/header.png"/>
	</ion-nav-title>
<ion-content padding="true" class="has-header">
  <ion-refresher on-refresh="vm.initialize()">
  </ion-refresher>
<span data-ng-if="vm.showComments === false">
    <img data-ng-if="vm.moments.length === 0 && vm.loadingMoments === false" src="img/no-results-found.png" width= "100%" style="padding-top: 10%"></img>
  <img data-ng-if="vm.loadingMoments === true" src="img/LoadingMoments.png" width= "100%" class="loadingMoments"></img>
    <div data-ng-if="vm.loadingMoments === false" ng-repeat="moment in vm.moments | orderBy:vm.sort">
        <mng-moment-view></mng-moment-view>
      <hr>
    </div>
    <ion-infinite-scroll on-infinite="vm.loadMore()" data-ng-if="vm.stopLoadingData === false" distance="5%"></ion-infinite-scroll>
</span><!--End of showComments-->
  <div data-ng-if="vm.showComments">
      <div mng-comments moment="vm.moment" moments-array="vm.moments" show-comments="vm.showComments" local-storage-name="bestMoments" comments-and-replies-quantity="vm.commentsAndRepliesQuantity"></div>
  </div>
</ion-content>
</ion-view>
