<ion-view id="page3">
	<ion-nav-title>
		<img class="title-image" src="img/header.png"/>
	</ion-nav-title>
<ion-content padding="true" class="has-header">
<ion-refresher on-refresh="vm.initialize()">
</ion-refresher>

<div class="trending_Moments">Trending Moments</div>
<!-- <form id="bestMoments-form2" class="list">
  <label class="item item-select" id="bestMoments-select3">
    <span class="input-label" ng-model="sortBy">Sort By</span>
    <select ng-model="vm.selectedOrder">
    	<option ng-click="vm.test()" selected>Likes</option>
    	<option ng-click="vm.test()" >Location</option>
    	<option ng-click="" >Time</option>
     </select>
  </label>
</form> -->
	<ion-gallery ion-gallery-items="vm.imageArray"></ion-gallery>
</ion-content>
</ion-view>
