<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ion-gallery/dist/ion-gallery.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyAelWnG7f-Ee3PUeOkrc7y3v0cNgQ9t8K4&sensor=true"></script>
  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
  -->
  <link href="lib/ion-gallery/dist/ion-gallery.css" rel="stylesheet">
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/moment.css" rel="stylesheet">
  <link rel="stylesheet" href="animate.min.css">

  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.27.min.js"></script>

  <script src="lib/ionic-ion-tinder-cards/ionic.tdcards.js"></script>
  <script src="lib/collide/collide.js"></script>
  <script src="lib/ionic-content-banner/dist/ionic.content.banner.js"></script>

  <script type="text/javascript" src="lib/async/dist/async.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="lib/videogular/videogular.js"></script>
  <script src="lib/videogular-controls/vg-controls.js"></script>
  <script src="lib/videogular-overlay-play/vg-overlay-play.js"></script>
  <script src="lib/videogular-poster/vg-poster.js"></script>
  <script src="lib/videogular-buffering/vg-buffering.js"></script>

  <script src="bestMoments/bestMoments.module.js"></script>
  <script src="bestMoments/bestMoments.controller.js"></script>
  <script src="bestMoments/bestMoments.service.js"></script>

  <script src="moments/moments.module.js"></script>
  <script src="moments/moments.controller.js"></script>
  <script src="moments/moments.service.js"></script>
  <script src="moments/moments.directive.js"></script>

  <script src="myMoments/myMoments.service.js"></script>
  <script src="myMoments/myMoments.controller.js"></script>
  <script src="myMoments/myMoments.module.js"></script>
  <script src="myMoments/userName/userName.controller.js"></script>
  <script src="myMoments/userName/userName.directive.js"></script>
  <script src="myMoments/userLocation/userLocation.directive.js"></script>
  <script src="myMoments/userLocation/userLocation.controller.js"></script>
  <script src="myMoments/userNotifications/userNotifications.directive.js"></script>
  <script src="myMoments/userNotifications/userNotifications.controller.js"></script>
<script src="myMoments/userRadius/userRadius.directive.js"></script>
<script src="myMoments/userRadius/userRadius.controller.js"></script>

  <script src="submitMoment/submitMoment.module.js"></script>
  <script src="submitMoment/submitMoment.controller.js"></script>
  <script src="submitMoment/submitMoment.service.js"></script>

  <script src="comments/comments.module.js"></script>
  <script src="comments/comments.directive.js"></script>
  <script src="comments/comments.controller.js"></script>
  <script src="comments/commentManager.js"></script>

  <script src="index.controller.js"></script>

  <script src="common/permissions.js"></script>
  <script src="common/constants.js"></script>
  <script src="common/core.js"></script>
  <script src="common/routes.js"></script>
  <script src="common/ng-cordova.min.js"></script>
  <script src="common/aws_services.js"></script>
  <script src="common/logger.js"></script>
  <script src="common/geolocation.js"></script>
  <script src="common/geolocation.service.js"></script>
  <script src="common/components.js"></script>
  <script src="common/localStorageManager.js"></script>
  <script src="common/multipartUpload.js"></script>
  <script src="common/downloadManager.js"></script>
  <script src="common/notificationManager.js"></script>
  <script src="common/common.module.js"></script>
  <script src="common/common.js"></script>
  <script src="common/momentView/momentView.controller.js"></script>
  <script src="common/momentView/momentView.directive.js"></script>
  <script src="common/app.js"></script>
  <script src="common/focus.directive.js"></script>
  <!--<script src="js/exceptionHandling.js"></script>-->
  <link rel="stylesheet" href="lib/ionic-content-banner/dist/ionic.content.banner.css">
  <link rel="stylesheet" href="lib/ionic-ion-tinder-cards/ionic.tdcards.css">

  <!--<script src="js/exceptionHandling.js"></script>-->

    <!-- Only required for Tab projects w/ pages in multiple tabs 
    <script src="lib/ionicuirouter/ionicUIRouter.js"></script>
  -->

</head>
<body ng-app="app" animation="slide-left-right-ios7">
  <div>
     <div ng-controller="IndexController as indexController">
      <ion-nav-bar class="bar-stable" align-title="center">
      <ion-nav-buttons side="left">
      <div class="ion-ios-upload" data-ng-if="momentTimer === '0m'" ng-click="indexController.gallery()"></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <!--<span data-ng-if="momentTimer === '0m'" class="ion-ios-camera-outline" ng-click="indexController.camera()"></span>-->
    <span data-ng-if="momentTimer === '0m'" class="ion-ios-camera" ng-click="indexController.openDialog()"></span>
    <!-- <span data-ng-if="momentTimer === '0m'" class="ion-ios-videocam-outline" ng-click="indexController.video()"></span> -->
    <div style="font-size: 18pt; margin-top: 5px;" ng-if="momentTimer !== '0m'">{{momentTimer}}</div>

  </ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view></ion-nav-view>


</div>
</div>
</body>
</html>
