<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-bottom" id="tabsController-tabs1">
    <ion-tab icon="ion-ios-photos" href="#/page1/moments" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
        <ion-tab icon="ion-android-list" href="#/page1/bestMoments" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-camera" ng-if="momentTimer === '0m'" ng-click="indexController.camera()">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{momentTimer}}" ng-if="momentTimer !== '0m'" disabled="true" ng-if="true" ng-click="indexController.camera()">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-android-list" href="#/page1/myMoments" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view> 