<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-bottom" id="tabsController-tabs1">
    <ion-tab icon="ion-ios-photos" href="#/page1/moments" id="tabsController-moments">
      <ion-nav-view name="moments"></ion-nav-view>
    </ion-tab>
        <ion-tab icon="ion-android-list" href="#/page1/bestMoments" id="tabsController-bestMoments">
      <ion-nav-view name="bestMoments"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-person" class="test" href="#/page1/myMoments">
    <ion-nav-view name="myMoments"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view> 