<ion-view title="Best Moments" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="bestMoments-form2" class="list">
      <label class="item item-select" id="bestMoments-select3">
        <span class="input-label">Filter</span>
        <select>
          <option>Date</option>
          <option>Likes</option>
          <option>My Pictures</option>
        </select>
      </label>
    </form>
    <div class="list card" id="bestMoments-card21">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="bestMoments-list-item-container2">
        <div id="bestMoments-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>