<ion-view title="Moments" id="page2">
<ion-content padding="true" class="has-header">

<div ng-show="currentImage">
  <mng-mainview moment="currentImage"></mng-mainview>
  <hr style="margin: 2px">
  <div mng-description></div>
</div> <!-- End of ng-show -->
<img src="/img/No-results-found.png" ng-hide="currentImage || loading"></img>

<div class="row" style="margin-top: 5px">
  <button data-ng-click="liked(true)" style="float:left; height: 80px" class="col positive ion-happy"></button>
  <button data-ng-click="liked(false)" style="float:left; height: 80px" class="col assertive ion-close"></button>
</div>
</ion-content>
</ion-view>