<ion-view title="Moments" id="page2">
<ion-content padding="true" class="has-header">

<div ng-show="vm.currentImage">
  <mng-mainview moment="vm.currentImage"></mng-mainview>
  <hr style="margin: 2px">
  <mng-description></mng-description>
</div> <!-- End of ng-show -->
<img src="/img/No-results-found.png" ng-hide="vm.currentImage || vm.loading"></img>

<div class="row" style="margin-top: 5px">
  <button data-ng-click="vm.liked(true)" style="float:left; height: 80px" class="col positive ion-happy"></button>
  <button data-ng-click="vm.liked(false)" style="float:left; height: 80px" class="col assertive ion-close"></button>
</div>
</ion-content>
</ion-view>