<ion-view id="page2">
	<ion-nav-title>
		<img class="title-image" src="img/header.png"/>
	</ion-nav-title>
<ion-content padding="true" class="has-header">

<div ng-show="vm.moments">
<td-cards>
<td-card ng-repeat="image in vm.moments"
on-swipe-left="vm.liked(false)" on-swipe-right="vm.liked(true)" 
on-drag-right="vm.dragRight()" on-drag-left="vm.dragLeft()" on-release="vm.release($event)"
on-partial-swipe="cardPartialSwipe(amt)" class = "{{image.class}}">
<mng-description moment="image"></mng-description>
<img src="img/logo.png" ng-show="image.swipedRight" width="100px" height="100px"class="on-drag-liked"></img>
<img src="img/Next.png" ng-show="image.swipedLeft" class="on-drag-next"></img>
<hr>
<div style="height=20%">
<span ng-show="image.description">{{ image.description }} </span>
<div ng-hide="image.description" class="noDescription">No Description Found</div>
<div class="{{vm.flagClass}}" ng-click="vm.flagged()"> </div>
</div>
</td-card>
</td-cards>
</div>
<img src="no-results-found.png" width= "100%" style="padding-top: 10%"></img>
</ion-content>
</ion-view>